<div class="container">
  <div class="row p-4">

   <%= render 'user_info', { user: @user } %>
  


    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <table width="100%" cellpadding="3">
        <tr class="border-top p-3">
          <th class="p-2">image</th>
          <th class="p-2">name</th>
          <br>
        </tr>
        <% @users.each do |user| %>
          <tr class="border-top">
            <td width="35%" class="p-2"><%= image_tag user.get_profile_image(80,80) %></td>
            <td width="45%" class="p-2 align-text-top"><%= user.name %></td>
            <td width="20%" class="p-2 align-text-top"><%= link_to 'Show', user_path(user.id) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>