<div class="container p-3">
  <div class="row">
    <div class="col px-3 mx-auto text-center col-11 col-sm-10 col-lg-8 col-xl-6">
      <h1 class="mb-5">
        welcome to <i class="fas fa-book"></i><strong>Bookers</strong>!!
      </h1>
    </div>
  </div>
</div>